<div class="header">
  <h1 class="tagline">
    B<span class="italic">e</span>tter Mind.
    <span class="better-life"
      >Bett<span class="italic">e</span>r Lif<span class="italic">e</span
      >.</span
    >
  </h1>
  <h3 class="intro">
    LET US TEACH YOU THE TOOLS TO NURTURE YOUR MIND SO YOU CAN THRIVE IN LIFE.
  </h3>

  <div class="arrow">
    <img
      class="arrow-loaded"
      data-original="https://static.tildacdn.com/tild6466-3431-4232-a133-643164336162/Arrow.svg"
      imgfield="tn_img_1636537616361"
      src="https://static.tildacdn.com/tild6466-3431-4232-a133-643164336162/Arrow.svg"
    />
  </div>
</div>
