<div class="about" id="about">
  <h1 class="tagline">
    Wh<span class="italic">a</span>t W<span class="italic">e</span> DO.
  </h1>
  <div class="card">
    <h3 id="why-work">Why you should work with us.</h3>
    <img
      src="https://images.pexels.com/photos/3760089/pexels-photo-3760089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="expert picture"
    />
    <p>
      Our courses are created by experts in psychology, education and coaching,
      who have years of experience working with parenting, families and
      youth.<br />
      <br />
      They are based on the latest research and best practices in wellbeing,
      parenting and personal development.
    </p>
  </div>
  <hr />
  <div class="card">
    <h3 id="family-solutions">
      Family solutions, for the family, by the family.
    </h3>
    <p>
      Our practitioners are tried and tested in family & youth problems, and
      will help you and your family communicate in a productive and manner,
      helping to progress past obstacles.
    </p>
  </div>
  <hr />
  <div class="card">
    <h3 id="parenting-courses">
      Parenting courses for the conscientious parent.
    </h3>
    <p>
      The youth of today face modern problems, and support is needed so parents
      are equipped to deal with these problems together with their children.
    </p>
  </div>
  <hr />
  <div class="card">
    <h3 id="personal-development">Personal Development tailor-made for you.</h3>
    <p>
      Modern life is stressful and we will equip you with tools to combat
      stress. Setting personal goals, building self esteem, taking care of your
      physical, mental and emotional wellbeing to set you on the path towards
      thriving.
    </p>
  </div>
</div>
