<div class="about">
  <h1 class="tagline">
    Wh<span class="italic">a</span>t W<span class="italic">e</span> DO.
  </h1>
  <div class="cards">
    <div class="card">
      <h3>Lorem Ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris diam
        orci, faucibus id elit at, elementum tristique lacus. Aliquam tempor
        sagittis ex. Nunc rhoncus sem venenatis volutpat iaculis. Praesent
        tempor arcu dolor, vel hendrerit nisl condimentum ut. Suspendisse
        tincidunt ultricies metus, non imperdiet justo semper sit amet.
      </p>
    </div>
    <div class="card">
      <h3>Lorem Ipsum</h3>
      <p>
        Phasellus ullamcorper, mauris a porta lacinia, orci arcu interdum
        libero, id hendrerit enim mauris rutrum orci. Nulla sit amet mi eget
        libero semper efficitur. Sed id tempor erat. Nulla ultrices vitae ligula
        quis dapibus. Quisque tempus tortor vitae eros mollis, quis mattis
        libero interdum.
      </p>
    </div>
    <div class="card">
      <h3>Lorem Ipsum</h3>
      <p>
        In accumsan imperdiet nibh et consequat. In dui dui, finibus vitae
        placerat vitae, venenatis vel sapien. Maecenas posuere eget nulla a
        venenatis. Aenean eleifend at massa ac interdum. Phasellus venenatis
        vulputate magna, id fermentum nulla posuere a. Quisque finibus suscipit
        sem eget viverra.
      </p>
    </div>
    <div class="card">
      <h3>Lorem Ipsum</h3>
      <p>
        Aenean sapien magna, ullamcorper sed diam ac, varius sagittis sapien.
        Vivamus sit amet augue tristique eros tincidunt sodales. Suspendisse
        faucibus tellus non sapien gravida venenatis. Mauris semper, metus non
        lacinia rutrum, est neque hendrerit quam, et fringilla ante sapien nec
        mauris. Mauris ut sapien varius, feugiat augue eu, congue ante.
      </p>
    </div>
  </div>
</div>
