@font-face {
  font-family: "Inter Regular";
  src: url("../../../assets/fonts/Inter-Regular.ttf");
}

.about {
  min-height: 100vh;
  background-color: #7b9400;
  color: #ffffff;
  padding: 20px;
  h3 {
    font-family: "Inter Regular";
    font-size: 27px;
  }
  p {
    font-family: "Inter Regular";
    font-size: larger;
  }
}

.tagline {
  margin-top: 0;
  font-family: "Cormorant Bold";
  text-align: center;
  font-size: 100px;
}
