@font-face {
  font-family: "Inter Regular";
  src: url("../../../assets/fonts/Inter-Regular.ttf");
}

.about {
  min-height: 100vh;
  background-color: #b0ceda;
  color: #ffffff;
  padding: 20px;
  h1 {
    background: -webkit-linear-gradient(
      90deg,
      rgba(134, 0, 255, 1) 0%,
      rgba(25, 0, 148, 1) 35%,
      rgb(0, 0, 0) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    font-family: "Inter Regular";
    font-size: 34px;
    background: -webkit-linear-gradient(
      90deg,
      rgba(134, 0, 255, 1) 0%,
      rgba(25, 0, 148, 1) 35%,
      rgb(0, 0, 0) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card {
    text-align: center;
    img {
      max-width: 80vw;
    }
    p {
      color: #000000;
    }
  }
}

p {
  font-family: "Inter Regular";
  font-size: larger;
  color: #000000;
}
.tagline {
  margin-top: 0;
  font-family: "Cormorant Bold";
  text-align: center;
  font-size: 100px;
}

.buy-course {
  margin-right: 30%;
  margin-left: 30%;
  width: 30vw;
  height: 10vh;
  border: white;
  font-family: "Inter Regular";
  font-size: larger;
  color: white;
  background: rgba(25, 0, 148, 1);
  border-radius: 5%;
  margin-top: 5%;
}
