.courses {
  background-color: #164202e7;
  clear: both;
  padding: 50px;
  min-height: 100vh;
  .tagline {
    color: #ffffff;

    font-size: 3rem;
  }

  .products {
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    .course-card {
      background-color: #164202;
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0 1px 16px rgb(0 0 0 / 12);
      margin: 3vh;
      font-family: "Inter Regular";
      color: #ecede9;
    }
  }
}
