<div class="contact">
  <div id="contact">
    <h4>ANY QUESTIONS?</h4>
    <div class="title">
      <h1>Drop us</h1>
      <br />
      <h3>a message</h3>
    </div>
    <form class="contact-form" (submit)="submitForm()">
      <input
        type="text"
        id="first-name"
        name="firstName"
        [(ngModel)]="firstName"
        placeholder="First Name"
      />

      <input
        type="text"
        id="last-name"
        name="lastName"
        [(ngModel)]="lastName"
        placeholder="Last Name"
      />

      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Email"
      />

      <textarea
        id="message"
        name="message"
        [(ngModel)]="message"
        rows="5"
        cols="30"
        placeholder="Your Message"
      ></textarea>

      <button class="submit" type="submit">SEND</button>
    </form>
  </div>
</div>
