<div class="contact">
  <div id="contact">
    <h4>ANY QUESTIONS?</h4>
    <div class="title">
      <h1>Drop us</h1>
      <br />
      <h3>a message</h3>
    </div>
    <form class="contact-form">
      <input type="text" id="first-name" placeholder="First Name" />

      <input type="text" id="last-name" placeholder="Last Name" />

      <input type="email" id="email" placeholder="Email" />

      <textarea
        id="message"
        name="message"
        rows="5"
        cols="30"
        placeholder="Your Message"
      ></textarea>

      <button class="submit" value="submit">SEND</button>
    </form>
  </div>
</div>
