#intro {
  height: 220vh;
  font-family: "Cormorant Bold";
  background-color: rgb(253, 245, 233);
  color: rgb(160, 94, 1);

  h1 {
    margin: 0;
    padding: 0;

    position: absolute;
  }

  #let {
    font-size: 70px;
    margin-top: 50px;
  }

  #in-learning {
    font-size: 45px;
    top: 128vh;
    right: 0vh;
  }

  #communicate {
    font-size: 30px;
    top: 135vh;
  }

  #effectively {
    font-size: 23px;
    top: 140vh;
    left: 40vw;
  }

  .intro {
    position: absolute;
    top: 140vh;
    font-family: "Inter Medium";
    padding: 30px;

    .paragraph {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: rgb(160, 94, 1);
      color: rgb(253, 245, 233);
      margin-top: 40px;
      padding: 5px;
      border-radius: 10px;
      img {
        max-width: 300px;
        align-self: center;
      }
    }
  }
}
