<div id="intro">
  <h1 id="let">Let us support you</h1>
  <br />

  <h1 id="in-learning">in learning to</h1>
  <br />
  <h1 id="communicate">communicate</h1>
  <h1 id="effectively">effectively.</h1>

  <div class="intro-paragraph">
    <p>
      We believe that every parent, family and young person deserves access to
      the best tools and resources to have opportunity to thrive and to learn
      practical skills to cope with everyday situations.
    </p>
    <p>We know that life can be stressful, uncertain and overwhelming.</p>
    <p>
      That’s why we offer a range of courses that help you and your loved ones
      develop the skills, knowledge and mindset you need to cope with life’s
      challenges and achieve your goals.
    </p>
  </div>
</div>
