<Nav>
  <h2 class="title">
    Family <span class="italic">&</span> Y<span class="italic">o</span>uth
    Wellb<span class="italic">e</span>ing
  </h2>
  <img class="logo" src="https://i.ibb.co/xh8MSZN/mum-logo-1.png" alt="logo" />
  <div class="menu" (click)="toggleMenu()">
    <div class="menu-icon"></div>
    <span class="initial"></span>
    <span class="initial"></span>
    <span class="initial"></span>
  </div>
</Nav>
<ul class="menu-items" *ngIf="isMenuOpen">
  <li><a href="#home">HOME</a></li>
  <hr />
  <li><a href="#intro">INTRO</a></li>
  <hr />
  <li><a href="#about">ABOUT US</a></li>
  <hr />
  <li><a href="#courses">AVAILABLE COURSES</a></li>
  <hr />
  <li><a href="#testimonials">TESTIMONIALS</a></li>
  <hr />
  <li><a href="#contact">CONTACT US</a></li>
</ul>
