@font-face {
  font-family: "Cormorant Bold";
  src: url("../../../assets/fonts/Cormorant-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant Bold Italic";
  src: url("../../../assets/fonts/Cormorant-BoldItalic.ttf") format("truetype");
}

nav {
  width: 100%;
  background-color: #a7c9ce;
  height: 8vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}
a {
  padding: 10px;
}

.title {
  font-family: "Cormorant Bold";
  width: 140px;
  font-size: 20px;
  text-align: start;
  position: absolute;
  left: 16px;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
}

.logo {
  max-width: 40px;
  align-self: center;
  position: absolute;
}

.menu {
  position: absolute;
  right: 25px;
  display: flex;
  flex-direction: column;

  .initial {
    height: 1px;
    width: 30px;
    padding: 2px;
    margin: 2px;
    background-color: #ffffff;
  }
}
.menu-items {
  background-color: #a7c9ce;
  margin-top: 0px;
  list-style: none;
  font-family: "Inter Bold";
  color: white;
  font-style: italic;
  padding: 25px;
  text-align: center;
  z-index: 9999;
  position: fixed;
  right: 0;
  top: 8vh;

  hr {
    height: 5px;
    background-color: white;
    border: none;
  }

  li {
    padding: 30px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
