<div class="testimonials">
  <h1 class="tagline">Testimonials</h1>
  <h2>(what people say about us)</h2>

  <div class="quotes">
    <div class="quote">
      <span class="speechmark">"</span>Family & Youth Wellbeing's parenting
      course helped me to communicate more with my children and now we have a
      better connection as a family. <span class="speechmark">"</span>
      <h4 class="name">- Khalid, 45</h4>
    </div>

    <div class="quote">
      <span class="speechmark">"</span>Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Consectetur nam voluptatibus fugit laboriosam? Molestiae
      quisquam maiores laudantium temporibus magni tempora exercitationem
      repellendus. <span class="speechmark">"</span>
      <h4 class="name">- Caroline, 39</h4>
    </div>

    <div class="quote">
      <span class="speechmark">"</span>Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Consectetur nam voluptatibus fugit laboriosam? Molestiae
      quisquam maiores laudantium temporibus magni tempora exercitationem
      repellendus. <span class="speechmark">"</span>
      <h4 class="name">- Joyce, 33</h4>
    </div>

    <div class="quote">
      <span class="speechmark">"</span>Family & Youth Wellbeing Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Consectetur nam voluptatibus
      fugit laboriosam? Molestiae quisquam maiores laudantium temporibus magni
      tempora exercitationem repellendus. <span class="speechmark">"</span>
      <h4 class="name">- Anisa, 52</h4>
    </div>
  </div>
</div>
