/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Cormorant Bold";
  src: url("../assets/fonts/Cormorant-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant Bold Italic";
  src: url("../assets/fonts/Cormorant-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Semi-Bold";
  src: url("../assets/fonts/Inter-SemiBold.ttf");
}

body {
  margin: 0;
  padding: 0;
}

.italic {
  font-family: "Cormorant Bold Italic";
}

.tagline {
  margin-top: 0;
  font-family: "Cormorant Bold";
  text-align: center;
}
